project-01/dist-newstyle
project-01/output
project-02/dist-newstyle
project-02/output
project-02/transactions
project-02/native-scripts
project-02/docs-private
project-204/dist-newstyle
project-301-faucet/dist-newstyle
